/* This file is for your main application CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "prismjs/themes/prism-tomorrow.css";

@layer base {
  h1 {
    @apply text-4xl pt-2 my-4 text-gray-900 font-semibold font-sans;
  }

  h2 {
    @apply text-3xl pt-2 my-3 text-gray-900 font-semibold font-sans;
  }

  h3 {
    @apply text-xl pt-2 my-2 text-gray-900 font-semibold font-sans;
  }

  h4 {
    @apply text-lg py-2 my-2 text-gray-900 font-semibold font-sans;
  }

  ul {
    @apply list-inside list-disc
  }

  ol {
    @apply list-inside list-decimal
  }

  strong {
    @apply text-slate-800 font-bold;
  }

  li {
    @apply leading-8 text-slate-700
  }

  a {
    @apply border-b border-blue-200 hover:squiggle-blue hover:border-opacity-0 pb-1
  }

  p {
    @apply leading-loose py-2 text-slate-600
  }
}

@layer components {
  .admonition {
    @apply m-2 mb-12;
  }
  .admonition-info {
    @apply border-l-4 border-l-blue-400 border border-slate-100 rounded-md drop-shadow md:ml-4 lg:max-w-xl lg:float-right;
  }

  .admonition-hiring {
    @apply border-l-4 border-l-orange-400 border border-slate-100 rounded-md drop-shadow md:ml-4 lg:max-w-sm lg:float-right;
  }

  .admonition p {
    @apply px-2
  }

  .admonition > .info {
    @apply bg-blue-200 text-black pl-2 text-lg my-0 font-bold font-sans;
  }

  .admonition > .hiring {
    @apply bg-orange-200 text-black pl-2 text-lg my-0 font-bold font-sans;
  }

}

@layer utilities {
  .disable-link {
    @apply border-none hover:bg-none;
  }

  /* https://codemyui.com/theoutline-squiggle-link-hover-effect/ */
  .squiggle-orange {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(-20px);}to {transform:translateX(0);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 3px;
    background-repeat: repeat-x;
    text-decoration: none;
  }

  .squiggle-blue {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(-20px);}to {transform:translateX(0);}}%3C/style%3E%3Cpath fill='none' stroke='%23BFDBFF' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 3px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
}

pre {
  max-width: 90vw;
  @apply rounded-lg
}

code {
  @apply bg-orange-400 px-1 rounded text-slate-50
}
